@import './header.css';
@import './rolling.css';
@import './tabBar.css';

@font-face {
  font-family: "Pretendard Variable";
  src: url("../assets/fonts/PretendardVariable.ttf") format("truetype");
}

body {
  width: 1280px;
  /* height: 720px; */
  margin: 0 auto;
}

#container{
  margin: 0 auto;
}

#main {
  width: 930px;
}

.type-tab-area {
  border: 2px solid #BB9718;
  width: 930px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.news-content-area {
  border: 2px solid #BB6618;
  width: 930px;
  height: 388px;
  margin: 0 auto;
  margin-bottom: 24px;
}