.category-bar {
  display: flex;
}

.category-menu {
  font-family: "Pretendard Variable";
  font-weight: bold;
  font-size: 14px;
  color: #879298;

  padding: 11.5px 16px;

  display: flex;
  gap: 40px;
}

.category-menu.active {
  background-color: #7890E7;
  color: #FFFFFF;
}

.category-menu .category-count-area {
  display: none;
}

.category-menu.active .category-count-area {
  display: flex;
}

.category-menu.active .category-count {
  display: inline-flex;
  opacity: 0.7;
}

.category-menu.active .category-current-count {
  display: inline-flex;
}