.subscribe-button {
  display: inline-flex;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #D2DAE0;
  background: #F5F7F9;
}

.subscribe-button.subscribed {
  display: flex;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-radius: 50px;
  border: 1px solid #D2DAE0;
  background: #FFF;
}

.subscribe-text {
  display: inline-block;
  vertical-align: middle;

  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  color: #879298;
}